*.tfstate
*.tfstate.backup
secrets/*
.gradle/
.vagrant/
*.zip
*.iml
*.ipr
*.iws
.idea/
build/
build/instances.json
build/keypairs.json
build/gitlab.users.json
build/gitlab.projects.json
build/gitlab.token
